*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


#foto-black{
    position: absolute;
    top: 18%;
    justify-content: center;
}

#ilumina{
    position: absolute;
    top: 5%;
    left: 1%;
}

#content{
    align-items: center;
    text-align: center;
}

.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-promo{
    position: absolute;
    top: 50%;
    left: 2%;
    text-align: center;
    border: 2px solid #cacbcd;
    padding: 30px;
    background-color: #cacbcd;
    border-radius: 60px;

}


.background-section-one{
    background-image: url(../assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two{
    background-image: url(../assets/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container{
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    max-width: 450px;
}

.produto-one{
    position: absolute;
    top: 42%;
    left: 33%;
    text-align: center;
    border: 2px solid #cacbcd;
    padding: 15px;
    background-color: #cacbcd;
    border-radius: 20px;
}

.produto-two{
    position: absolute;
    top: 42%;
    left: 55%;
    text-align: center;
    border: 2px solid #cacbcd;
    padding: 15px;
    background-color: #cacbcd;
    border-radius: 20px;
}

.produto-three{
    width: 210px;
    position: absolute;
    top: 42%;
    left: 77%;
    text-align: center;
    border: 2px solid #cacbcd;
    padding: 15px;
    background-color: #cacbcd;
    border-radius: 20px;
}


.preco-sem-desconto{
    color: red;
}

.valor-desconto{
    width: 110px;
    height: 20px;
    border: 1px solid red;
    border-radius: 30px;
    background-color: red;
    color: black;
    position: absolute;
    top: 2px;
    left: 53%;
    font-size: 15px;

}

form{
    display: grid;
    padding: 20px;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: black;
    color: white;
    
}
footer{
    height: 18px;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}

